@{ ViewData["Title"] = "Scan"; }

@model Commsights.MVC.Models.BaseViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Data - Scan</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class='col-sm-4'>
                        @(Html.Kendo().DropDownList()
                     .Name("Website")
                     .DataValueField("ID")
                     .DataTextField("Title")
                     .HtmlAttributes(new { @class = "form-control" })
                      .Events(e => e.DataBound("onWebsiteDataBound").Change("onWebsiteChange"))
                       .Filter(FilterType.StartsWith)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetWebsiteByGroupNameAndCodeAndActiveToList001", "Config")))
                            )
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanWebsite()">
                            <span class="fas fa-sync-alt"></span> Scan website
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanWebsiteNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan website no filter
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanAutoNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan auto no filter
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan full no filter
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanFull()">
                            <span class="fas fa-sync-alt"></span> Scan full
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(0)">
                            0
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(100)">
                            100
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(200)">
                            200
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(300)">
                            300
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(400)">
                            400
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(500)">
                            500
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(600)">
                            600
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(700)">
                            700
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(800)">
                            800
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(900)">
                            900
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(1000)">
                            1000
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-info" onclick="onScanAutoNoFilterProductByIndexBeginAndIndexEnd(1100)">
                            1100
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(0)">
                            00
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(10)">
                            01
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(20)">
                            02
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(30)">
                            03
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(40)">
                            04
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(50)">
                            05
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(60)">
                            06
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(70)">
                            07
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(80)">
                            08
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(90)">
                            09
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(100)">
                            10
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(110)">
                            11
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(120)">
                            12
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(130)">
                            13
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(140)">
                            14
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(150)">
                            15
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(160)">
                            16
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(170)">
                            17
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(180)">
                            18
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(190)">
                            19
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(200)">
                            20
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(210)">
                            21
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(220)">
                            22
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(230)">
                            23
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(240)">
                            24
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(250)">
                            25
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(260)">
                            26
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(270)">
                            27
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(280)">
                            28
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(290)">
                            29
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(300)">
                            30
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(310)">
                            31
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(320)">
                            32
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(330)">
                            33
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(340)">
                            34
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(350)">
                            35
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(360)">
                            36
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(370)">
                            37
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(380)">
                            38
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(390)">
                            39
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(400)">
                            40
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(410)">
                            41
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(420)">
                            42
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(430)">
                            43
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(440)">
                            44
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(450)">
                            45
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(460)">
                            46
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(470)">
                            47
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(480)">
                            48
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(490)">
                            49
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(500)">
                            50
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(510)">
                            51
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(520)">
                            52
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(530)">
                            53
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(540)">
                            54
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(550)">
                            55
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(560)">
                            56
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(570)">
                            57
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(580)">
                            58
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(590)">
                            59
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(600)">
                            60
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(610)">
                            61
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(620)">
                            62
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(630)">
                            63
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(640)">
                            64
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(650)">
                            65
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(660)">
                            66
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(670)">
                            67
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(680)">
                            68
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(690)">
                            69
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(700)">
                            70
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(710)">
                            71
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(720)">
                            72
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(730)">
                            73
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(740)">
                            74
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(750)">
                            75
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(760)">
                            76
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(770)">
                            77
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(780)">
                            78
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(790)">
                            79
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(800)">
                            80
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(810)">
                            81
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(820)">
                            82
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(830)">
                            83
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(840)">
                            84
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(850)">
                            85
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(860)">
                            86
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(870)">
                            87
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(880)">
                            88
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(890)">
                            89
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(900)">
                            90
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(910)">
                            91
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(920)">
                            92
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(930)">
                            93
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(940)">
                            94
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(950)">
                            95
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(960)">
                            96
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(970)">
                            97
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(980)">
                            98
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(990)">
                            99
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1000)">
                            100
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1010)">
                            101
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1020)">
                            102
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1030)">
                            103
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1040)">
                            104
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1050)">
                            105
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1060)">
                            106
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1070)">
                            107
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1080)">
                            108
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1090)">
                            109
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1100)">
                            110
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1110)">
                            111
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1120)">
                            112
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1130)">
                            113
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1140)">
                            114
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1150)">
                            115
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1160)">
                            116
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1170)">
                            117
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1180)">
                            118
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1190)">
                            119
                        </button>
                    </div>
                </div>
                @(Html.Kendo().Grid<Commsights.Data.Models.Config>()
.Name("Config")
.Columns(columns =>
{
    columns.Bound(t => t.Title).Title("Title").Width(200);
    columns.Bound(t => t.URLFull).Title("URLFull").Width(400);
    columns.Bound(t => t.SortOrder).Title("Sort order").Width(200);
})
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.Title); search.Field(f => f.URLFull);})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);
})
.Read(t => t.Action("GetWebsiteByParentIDAndGroupNameAndCodeToList", "Config").Data("filterConfig"))
)
)
            </div>
        </div>
    </div>
</div>



@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function filterConfig(e) {
        var parentIDValue = $("#Website").data("kendoDropDownList").value();
        return { parentID: parentIDValue };

    }
    function onWebsiteDataBound() {
        var control = $("#Website").data("kendoDropDownList");
        var controlLength = control.dataSource.data().length;
        if (controlLength > 0) {
            control.select(0);
            control.trigger("change");
        }
    }
    function onWebsiteChange() {
        $("#Config").data("kendoGrid").dataSource.read();
    }
    function onScanFull() {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFull", "Product")',
            type: 'GET',
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanWebsite() {
        var websiteIDValue = $("#Website").data("kendoDropDownList").value();
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanWebsite", "Product")',
             type: 'GET',
             data: {
                 websiteID: websiteIDValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanFullNoFilterProduct() {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFullNoFilterProduct", "Product")',
            type: 'GET',
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanFullNoFilterProductByIndexBegin(indexBeginValue) {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFullNoFilterProductByIndexBegin", "Product")',
             type: 'GET',
             data: {
                 indexBegin: indexBeginValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanWebsiteNoFilterProduct() {
        var websiteIDValue = $("#Website").data("kendoDropDownList").value();
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanWebsiteNoFilterProduct", "Product")',
             type: 'GET',
             data: {
                 websiteID: websiteIDValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanAutoNoFilterProduct() {
       BeginRequestHandler();
       $.ajax({
            type: 'GET',
            url: "@Url.Action("GetWebsiteByGroupNameAndCodeAndActiveToList", "Config")",
            data: {
            },
           success: function (Config) {
               for (var index in Config) {
                   $(Config[index]).each(function (iRec, item) {
                       setTimeout(function () {
                           var url = '/Product/ScanWebsiteNoFilterProductVoid?websiteID=' + item.ID;
                           window.open(url, '_blank');
                       }, index * 3000);
                   });
               }
               EndRequestHandler();
           }
        }).done(() => {

        });
        return false;
    }
    function onScanAutoNoFilterProductByIndexBeginAndIndexEnd(indexBegin) {
        BeginRequestHandler();
        var indexEnd = indexBegin + 100;
        for (var i = indexBegin; i < indexEnd; i = i + 10) {
            var url = '/Product/ScanWebsiteNoFilterProductByIndexBeginVoid?indexBegin=' + i;
            window.open(url, '_blank');
        }
        EndRequestHandler();
        return false;
    }
</script>
