@{ ViewData["Title"] = "Scan"; }

@model Commsights.MVC.Models.BaseViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Data - Scan</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class='col-sm-4'>
                        @(Html.Kendo().DropDownList()
                     .Name("Website")
                     .DataValueField("ID")
                     .DataTextField("Title")
                     .HtmlAttributes(new { @class = "form-control" })
                      .Events(e => e.DataBound("onWebsiteDataBound").Change("onWebsiteChange"))
                       .Filter(FilterType.StartsWith)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetWebsiteByGroupNameAndCodeAndActiveToList001", "Config")))
                            )
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanWebsite()">
                            <span class="fas fa-sync-alt"></span> Scan website
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanWebsiteNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan website no filter
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanAutoNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan auto no filter
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProduct()">
                            <span class="fas fa-sync-alt"></span> Scan full no filter
                        </button>
                    </div>
                    <div class='col-sm-4'>
                        <button type="button" class="btn btn-primary" onclick="onScanFull()">
                            <span class="fas fa-sync-alt"></span> Scan full
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(0)">
                            00
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(100)">
                            01
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(200)">
                            02
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(300)">
                            03
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(400)">
                            04
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(500)">
                            05
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(600)">
                            06
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(700)">
                            07
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(800)">
                            08
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(900)">
                            09
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1000)">
                            10
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1100)">
                            11
                        </button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1200)">
                            12
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1300)">
                            13
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1400)">
                            14
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1500)">
                            15
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1600)">
                            16
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1700)">
                            17
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1800)">
                            18
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(1900)">
                            19
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(2000)">
                            20
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(2100)">
                            21
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(2200)">
                            22
                        </button>
                    </div>
                    <div class='col-sm-1'>
                        <button type="button" class="btn btn-primary" onclick="onScanFullNoFilterProductByIndexBegin(2300)">
                            23
                        </button>
                    </div>
                </div>
                @(Html.Kendo().Grid<Commsights.Data.Models.Config>()
.Name("Config")
.Columns(columns =>
{
    columns.Bound(t => t.Title).Title("Title").Width(200);
    columns.Bound(t => t.URLFull).Title("URLFull").Width(400);
    columns.Bound(t => t.SortOrder).Title("Sort order").Width(200);
})
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.Title); search.Field(f => f.URLFull);})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);
})
.Read(t => t.Action("GetWebsiteByParentIDAndGroupNameAndCodeToList", "Config").Data("filterConfig"))
)
)
            </div>
        </div>
    </div>
</div>



@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function filterConfig(e) {
        var parentIDValue = $("#Website").data("kendoDropDownList").value();
        return { parentID: parentIDValue };

    }
    function onWebsiteDataBound() {
        var control = $("#Website").data("kendoDropDownList");
        var controlLength = control.dataSource.data().length;
        if (controlLength > 0) {
            control.select(0);
            control.trigger("change");
        }
    }
    function onWebsiteChange() {
        $("#Config").data("kendoGrid").dataSource.read();
    }
    function onScanFull() {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFull", "Product")',
            type: 'GET',
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanWebsite() {
        var websiteIDValue = $("#Website").data("kendoDropDownList").value();
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanWebsite", "Product")',
             type: 'GET',
             data: {
                 websiteID: websiteIDValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanFullNoFilterProduct() {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFullNoFilterProduct", "Product")',
            type: 'GET',
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanFullNoFilterProductByIndexBegin(indexBeginValue) {
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanFullNoFilterProductByIndexBegin", "Product")',
             type: 'GET',
             data: {
                 indexBegin: indexBeginValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanWebsiteNoFilterProduct() {
        var websiteIDValue = $("#Website").data("kendoDropDownList").value();
        BeginRequestHandler();
         $.ajax({
            url: '@Url.Action("ScanWebsiteNoFilterProduct", "Product")',
             type: 'GET',
             data: {
                 websiteID: websiteIDValue,
             },
            cache: false
         }).done(function (e) {
             EndRequestHandler();
             var response = e;
             var messageType = response.split('-')[0];
             var note = response.split('-')[1];
             var notification = $("#Notification").data("kendoNotification");
             notification.show(note, messageType);
         });
        return false;
    }
    function onScanAutoNoFilterProduct() {
       BeginRequestHandler();
       $.ajax({
            type: 'GET',
            url: "@Url.Action("GetWebsiteByGroupNameAndCodeAndActiveToList", "Config")",
            data: {
            },
           success: function (Config) {
               for (var index in Config) {
                   $(Config[index]).each(function (iRec, item) {
                       setTimeout(function () {
                           var url = '/Product/ScanWebsiteNoFilterProductVoid?websiteID=' + item.ID;
                           window.open(url, '_blank');
                       }, index * 3000);
                   });
               }
               EndRequestHandler();
           }
        }).done(() => {

        });
        return false;
    }

</script>
