@{ ViewData["Title"] = "Upload"; }

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Upload - Excel Scan</h3>
            </div>
            <div class="card-body">
                <form method="post" onsubmit="return BeginRequestHandler()" action='@Url.Action("UploadScan", "Product")'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Download'>Bước 01: File excel mẫu: </label>
                            <a href="@Commsights.Data.Helpers.AppGlobal.URLDownloadExcel/Scan.xlsx" target="_blank">Download</a>
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Ten'>Bước 02: Chọn file excel có dữ liệu: </label>
                            @(Html.Kendo().Upload()
                                  .Name("UploadScan")
                            )
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Upload'></label>
                            <button class="btn btn-primary"><span class="fas fa-upload"></span> Upload Scan</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Upload - Excel Younet</h3>
            </div>
            <div class="card-body">
                <form method="post" onsubmit="return BeginRequestHandler()" action='@Url.Action("UploadYounet", "Product")'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Download'>Bước 01: File excel mẫu: </label>
                            <a href="@Commsights.Data.Helpers.AppGlobal.URLDownloadExcel/Younet.xlsx" target="_blank">Download</a>
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Ten'>Bước 02: Chọn file excel có dữ liệu: </label>
                            @(Html.Kendo().Upload()
                                  .Name("UploadYounet")
                            )
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Upload'></label>
                            <button class="btn btn-primary"><span class="fas fa-upload"></span> Upload Younet</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Upload - Excel Andi source</h3>
            </div>
            <div class="card-body">
                <form method="post" onsubmit="return BeginRequestHandler()" action='@Url.Action("UploadAndiSource", "Product")'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Download'>Bước 01: File excel mẫu: </label>
                            <a href="@Commsights.Data.Helpers.AppGlobal.URLDownloadExcel/AndiSource.xlsx" target="_blank">Download</a>
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Ten'>Bước 02: Chọn file excel có dữ liệu: </label>
                            @(Html.Kendo().Upload()
                                  .Name("UploadAndiSource")
                            )
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Upload'></label>
                            <button class="btn btn-primary"><span class="fas fa-upload"></span> Upload Andi source</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Upload - Excel Google search</h3>
            </div>
            <div class="card-body">
                <form method="post" onsubmit="return BeginRequestHandler()" action='@Url.Action("UploadGoogleSearch", "Product")'>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Download'>Bước 01: File excel mẫu: </label>
                            <a href="@Commsights.Data.Helpers.AppGlobal.URLDownloadExcel/GoogleSearch.xlsx" target="_blank">Download</a>
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Ten'>Bước 02: Chọn file excel có dữ liệu: </label>
                            @(Html.Kendo().Upload()
                                  .Name("UploadGoogleSearch")
                            )
                        </div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for='Upload'></label>
                            <button class="btn btn-primary"><span class="fas fa-upload"></span> Upload GoogleSearch</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#Config").data("kendoGrid").dataSource.read();
        }
    }
</script>
