@{ Layout = "~/Views/Shared/_LayoutNoHeader.cshtml"; ViewData["Title"] = Model.Title + " - Detail"; }

@model Commsights.Data.DataTransferObject.CodeData


<div class="row" style="margin-top:-7px;">
    <div class="col-md-12">
        <div class="card card-primary" style="margin-bottom: -5px;">
            <div class="card-body" style="padding-top:2px;">
                <form asp-action="SaveCoding" asp-controller="CodeData">
                    @Html.HiddenFor(Model => Model.Advalue)
                    @Html.HiddenFor(Model => Model.IndustryID)
                    @Html.HiddenFor(Model => Model.RowIndex)
                    @Html.HiddenFor(Model => Model.ProductID)
                    @Html.HiddenFor(Model => Model.ProductPropertyID)
                    @Html.HiddenFor(Model => Model.KeyMessage)
                    <div class="row">
                        <div class='col-md-2'>
                        </div>
                        <div class='col-md-1'>
                            @(Html.CheckBoxFor(Model => Model.IsCoding.Value, new { @disabled = "disabled" }))
                            <p style="display:inline-block; font-size:14px; font-weight:bold; margin:0; padding-left:10px;">Coding</p>
                        </div>
                        <div class='col-md-1'>
                            <a id="RowBack" onclick="onRowMove(@Model.RowBack)" style="color:#ffffff;" title="Back" class="btn btn-info">
                                <span class="fas fa-angle-left"></span> (1)
                            </a>
                        </div>
                        <div class='col-md-2 text-center'>
                            <span style="font-weight:bold; font-size:18px;">@Model.RowBegin.Value.ToString("N0") < <span style="color: blue;">@Model.RowCurrent</span> > @Model.RowEnd.Value.ToString("N0") / @Model.RowIndexCount</span>
                        </div>
                        <div class='col-md-1'>
                            <a id="RowNext" onclick="onRowMove(@Model.RowNext)" style="color:#ffffff;" title="First" class="btn btn-info">
                                <span class="fas fa-angle-right"></span> (2)
                            </a>
                        </div>
                        <div class='col-md-1'>
                            <a id="URLCode" onclick="onOpenBlank('@Model.URLCode')" title='@Model.Title' class='btn btn-success' style='color:white; cursor: pointer;'><i class='fas fa-external-link-alt'></i> (3)</a>
                        </div>
                        <div class='col-md-2'>
                            @(Html.CheckBoxFor(Model => Model.IsSummary.Value))
                            <p style="display:inline-block; font-size:14px; font-weight:bold; margin:0; padding-left:10px;">Brief (4)</p>
                        </div>
                        <div class='col-md-1'>
                            <a id="Copy" onclick="onCopy()" title='Copy' class='btn btn-primary' style='color:white; cursor: pointer;'>Copy (5)</a>
                        </div>
                        <div class='col-md-1'>
                            <button id="SaveCoding" style="width:100%;" type="submit" title="Save" class="btn btn-primary" autofocus="autofocus">
                                <span class="fas fa-save"></span> (6)
                            </button>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='CategoryMain'>Category Main</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CategoryMain)
                     .DataValueField("CodeName")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                    .Events(e => e.Change("onCategoryMainChange"))
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCategoryMainByIndustryID001ToList", "Config")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CategorySub'>Category Sub</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CategorySub)
                     .DataValueField("CodeName")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCategorySubByCategoryMainAndIndustryIDToList", "Config").Data("filterCategorySub")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='SentimentCorp'>Sentiment</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.SentimentCorp)
                     .DataValueField("CodeName")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetSentimentToList", "Config")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CorpCopy'>Corp Copy</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CorpCopy)
                     .DataValueField("CodeName")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCorpCopyToList", "Config")))
                            )
                            </div>
                            <div class='form-group' style="height:134px;">
                                <label for='CompanyName'>Company (@Model.CompanyNameHiden)</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CompanyName)
                     .DataValueField("Account")
                     .DataTextField("Account")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                       .Events(e => e.Change("onCompanyNameChange"))
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetByIndustryID001ByActiveToList", "Membership")))
                            )
                            </div>
                            <div class='form-group' style="height:134px;">
                                <label for='ProductName_ProjectName'>Product (@Model.ProductNameHiden)</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.ProductName_ProjectName)
                     .DataValueField("ProductName")
                     .DataTextField("ProductName")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetProductByAccountAndCodeAndIndustryIDToList", "MembershipPermission").Data("filterMembershipPermission")))
                            )

                            </div>


                        </div>
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='SOECompany'>SOE Corp (@Model.FeatureCorp)</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.SOECompany)
                     .DataValueField("Display")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetSEOToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='SOEProduct'>SOE Pro (@Model.FeatureProduct)</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.SOEProduct)
                     .DataValueField("Display")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetSEOToList", "AppGlobal")))
                            )
                            </div>

                            <div class='form-group'>
                                <label for='Title'>Headline (Vie)</label>
                                @(Html.TextBoxFor(Model => Model.Title, new { @class = "form-control", @title = Model.Title }))
                                <div id="TitleHiden" style="display:none;">@Model.Title</div>
                            </div>
                            <div class='form-group'>
                                <label for='TitleEnglish'>Headline (Eng)</label>
                                @(Html.TextBoxFor(Model => Model.TitleEnglish, new { @class = "form-control", @title = Model.TitleEnglish }))
                                <div id="TitleEnglishHiden" style="display:none;">@Model.TitleEnglish</div>
                            </div>
                            <div class='form-group'>
                                <label for='Description'>Summary (Vie)</label>
                                @(Html.TextAreaFor(Model => Model.Description, new { @class = "form-control", @title = Model.Description, @style = "height:100px;" }))
                                <div id="DescriptionHiden" style="display:none;">@Model.Description</div>
                            </div>
                            <div class='form-group'>
                                <label for='DescriptionEnglish'>Summary (Eng)</label>
                                @(Html.TextAreaFor(Model => Model.DescriptionEnglish, new { @class = "form-control", @title = Model.DescriptionEnglish, @style="height:100px;" }))
                                <div id="DescriptionEnglishHiden" style="display:none;">@Model.DescriptionEnglish</div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='Author'>Journalist</label>
                                @(Html.TextBoxFor(Model => Model.Author, new { @class = "form-control", @title = Model.Author }))
                            </div>
                            <div class='form-group'>
                                <label for='TierCommsights'>Tier Commsights</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.TierCommsights)
                     .DataValueField("CodeName")
                     .DataTextField("CodeName")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMediaTierToList", "Config")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CampaignName'>Campaign name</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CampaignName)
                                 .DataValueField("CodeName")
                                 .DataTextField("CodeName")
                                .HtmlAttributes(new { @class = "form-control" })
                                   .Filter(FilterType.Contains)
                                   .Events(e => e.Change("onCampaignNameChange"))
                                 .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCampaignNameByIndustryID001ToList", "Config")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CampaignKeyMessage'>Campaign key</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CampaignKeyMessage)
                                 .DataValueField("CodeName")
                                 .DataTextField("CodeName")
                                .HtmlAttributes(new { @class = "form-control" })
                                   .Filter(FilterType.Contains)
                                 .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCampaignKeyMessageByCampaignNameAndIndustryIDToList", "Config").Data("filterCampaignKeyMessage")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CompetitiveWhat'>Comparison</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CompetitiveWhat)
                     .DataValueField("Account")
                     .DataTextField("Account")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetByIndustryID001ToList", "Membership")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='CompetitiveNewsValue'>Competitors products/ brands</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.CompetitiveNewsValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='TasteValue'>Taste value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.TasteValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='PriceValue'>Price value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.PriceValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='NutritionFactValue'>Nutrition fact value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.NutritionFactValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='VitaminValue'>Vitamin value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.VitaminValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='GoodForHealthValue'>Good for health value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.GoodForHealthValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='Bottle_CanDesignValue'>Bottle / Can Design</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.Bottle_CanDesignValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.StartsWith)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='TierValue'>Tier Value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.TierValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='HeadlineValue' title="Brand mention in Headline">Headline value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.HeadlineValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='PictureValue' title="Image (related to brand/company)">Picture value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.PictureValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='KOLValue'>KOL value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.KOLValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='OtherValue'>Other value</label>
                                @(Html.Kendo().DropDownListFor(Model => Model.OtherValue)
                     .DataValueField("ID")
                     .DataTextField("Display")
                    .HtmlAttributes(new { @class = "form-control" })
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCodeDataValueToList", "AppGlobal")))
                            )
                            </div>
                            <div class='form-group'>
                                <label for='SpokePersonName'>Spoke person name</label>
                                @(Html.TextBoxFor(Model => Model.SpokePersonName, new { @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='SpokePersonTitle'>Spoke person title</label>
                                @(Html.TextBoxFor(Model => Model.SpokePersonTitle, new { @class = "form-control" }))
                            </div>
                            <div class='form-group'>
                                <label for='FeatureValue'>News type value</label>
                                @(Html.TextBoxFor(Model => Model.FeatureValue,"{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='SpokePersonValue'>Spoke person value</label>
                                @(Html.TextBoxFor(Model => Model.SpokePersonValue, "{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='ToneValue' title="Sentiment(MPS & ROME)">Sentiment value</label>
                                @(Html.TextBoxFor(Model => Model.ToneValue, "{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='Source'>Source</label>
                                @(Html.TextBoxFor(Model => Model.Source, "{0:N0}", new { @class = "form-control text-right",  @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='FileName'>File name</label>
                                @(Html.TextBoxFor(Model => Model.FileName, new { @class = "form-control",  @readonly = "readonly", @title = Model.FileName }))
                            </div>


                        </div>
                        <div class="col-md-2">
                            <div class='form-group'>
                                <label for='Advalue'>Advalue</label>
                                @(Html.TextBoxFor(Model => Model.AdvalueString, new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='MPS'>MPS</label>
                                @(Html.TextBoxFor(Model => Model.MPS, "{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='ROME_Corp_VND'>Media Value Corp</label>
                                @(Html.TextBoxFor(Model => Model.ROME_Corp_VND, "{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='ROME_Product_VND'>Media Value Product</label>
                                @(Html.TextBoxFor(Model => Model.ROME_Product_VND, "{0:N0}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='MediaTitle'>Media Title</label>
                                @(Html.TextBoxFor(Model => Model.MediaTitle, new { @class = "form-control", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='MediaType'>Media Type</label>
                                @(Html.TextBoxFor(Model => Model.MediaType, new { @class = "form-control", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='Segment'>Segment</label>
                                @(Html.TextBoxFor(Model => Model.Segment, new { @class = "form-control", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='ProductSource'>Source Upload</label>
                                @(Html.TextBoxFor(Model => Model.ProductSource, new { @class = "form-control", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='DatePublish'>Date Publish</label>
                                @(Html.TextBoxFor(Model => Model.DatePublish, "{0:MM/dd/yyyy}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='DateUpdated'>Date Upload</label>
                                @(Html.TextBoxFor(Model => Model.DateUpload, "{0:MM/dd/yyyy HH:mm:ss}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                            <div class='form-group'>
                                <label for='DateCoding'>Date Coding</label>
                                @(Html.TextBoxFor(Model => Model.DateCoding, "{0:MM/dd/yyyy HH:mm:ss}", new { @class = "form-control text-right", @readonly = "readonly" }))
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function onCopy() {
        BeginRequestHandler();
        var rowIndexValue = $("#RowIndex").val();
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Copy", "CodeData")",
            data: {
                rowIndex: rowIndexValue
            },
            success: function (rowIndex) {
                var url = "/CodeData/Detail?RowIndex=" + rowIndex;
                location.replace(url);
            }
            }).done(() => {
        });
    }    
    function filterCampaignKeyMessage(e) {
        var campaignNameValue = $("#CampaignName").data("kendoDropDownList").value();
        return { campaignName: campaignNameValue };
    }
    function filterCategorySub(e) {
        var categoryMainValue = $("#CategoryMain").data("kendoDropDownList").value();
        return { categoryMain: categoryMainValue };
    }
    function onCampaignNameChange() {
        $("#CampaignKeyMessage").data("kendoDropDownList").dataSource.read();
    }
    function onCategoryMainChange() {
        $("#CategorySub").data("kendoDropDownList").dataSource.read();
    }
    function filterMembershipPermission(e) {
        var accountValue = $("#CompanyName").data("kendoDropDownList").value();
        return { account: accountValue };
    }

    function onCompanyNameChange() {
        $("#ProductName_ProjectName").data("kendoDropDownList").dataSource.read();
    }

    function onRowMove(rowIndex) {
        var url = "/CodeData/Detail?RowIndex=" + rowIndex;
        location.replace(url);
    }
    function onOpenBlank(url) {
        window.open(url, '_blank');
    }
    $(document).keyup(function (e) {
        var e = e || window.event;
        if (e.altKey == true) {
            switch (e.keyCode) {
                case 49:
                    document.getElementById('RowFirst').click();
                    break;
                case 50:
                    document.getElementById('RowBack').click();
                    break;
                case 51:
                    document.getElementById('RowNext').click();
                    break;
                case 52:
                    document.getElementById('RowLast').click();
                    break;
                case 53:
                    document.getElementById('URLCode').click();
                    break;
                case 54:
                    var isSummary_ValueChecked = document.getElementById("IsSummary_Value").checked;
                    if (isSummary_ValueChecked == true) {
                        document.getElementById("IsSummary_Value").checked = false;
                    }
                    else {
                        document.getElementById("IsSummary_Value").checked = true;
                    }
                    break;
                case 55:
                    document.getElementById('Copy').click();
                    break;
                case 56:
                    document.getElementById('SaveCoding').click();
                    break;               
            }
        }
    });
    $("#Title").focus(function () {
        document.getElementById("TitleHiden").style.display = "block";
    });
    $("#Title").focusout(function () {
        document.getElementById("TitleHiden").style.display = "none";
    });
    $("#TitleEnglish").focus(function () {
        document.getElementById("TitleEnglishHiden").style.display = "block";
    });
    $("#TitleEnglish").focusout(function () {
        document.getElementById("TitleEnglishHiden").style.display = "none";
    });
    $("#Description").focus(function () {
        document.getElementById("DescriptionHiden").style.display = "block";
    });
    $("#Description").focusout(function () {
        document.getElementById("DescriptionHiden").style.display = "none";
    });
    $("#DescriptionEnglish").focus(function () {
        document.getElementById("DescriptionEnglishHiden").style.display = "block";
    });
    $("#DescriptionEnglish").focusout(function () {
        document.getElementById("DescriptionEnglishHiden").style.display = "none";
    });
</script>